@charset "utf-8";

/* @import url(reset.css); */

/* ***************** 공통영역 선언시작 ****************** */

body {
  position: relative;
  overflow-x: hidden;
}

/* Button Area Start */
.btn-default, 
.btn-small {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: #f1d204;
  color: #fff;
}
.btn-default{
  width: 150px; height: 42px;
  font: 700 1.8rem/42px 'Nanum Gothic', sans-serif;
}
.btn-default:hover, 
.btn-default:focus {
  text-decoration: none;
  background-color: #6a4d8a;
  color: #fff;
}
.btn-small{
  width: 130px; height: 42px;
  font: 700 1.4rem/42px 'Nanum Gothic', sans-serif;
}
.btn-small:hover{
  text-decoration: none;
  background-color: #6a4d8a;
  color: #fff;
}

/* Jarallax 셋팅 */
.jarallax {
  position: relative;
  z-index: 0;
}
.jarallax > .jarallax-img {
  position: absolute;
  object-fit: cover;
  font-family: 'object-fit: cover;';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Container Area Reset */
#wrap>div{
  width: 100%;
}
.container, .container-fluid{
  height: 100%;
}
.container{
  padding: 63px 0;
}



/* ***************** 개별영역 선언시작 ****************** */
/* ********** Navi Area Start ********* */
#navi{
  background-color: rgba(0, 0, 0, 0.5); 
  border: 0;

  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  -o-transition: all ease 0.8s;
  transition: all ease 0.8s;
}
#navi .container{ 
  padding: 0 15px; 
}
#navi .container h1 a, 
#navi .container #gnb li a{
  color: #fff;
}
#navi .container h1 a{
  display: inline-block;
  width: 150px; height: 42px;
  background: url(../images/lg/logo-white.png) no-repeat 0 0;
  background-size: contain;
  margin: 10px 0 0 15px;
}
#navi .container #gnb li a:hover{
  color: #f1d204;
}

/* navbar-toggle button */
#navi .navbar-toggle{
  border-radius: 0;
  border: 1px solid #f1d204;
}
#navi .navbar-toggle:hover,
#navi .navbar-toggle:focus {
  background-color: rgb(255, 255, 255, 0);
}
#navi .navbar-toggle .icon-bar {
  background-color: #f1d204;
}
#navi .navbar-nav {
  margin: 0 -15px;
}


/* 상단 메뉴 고정 활성화 클래스 */
.fixed{
  background-color: rgba(255, 255, 255, 1) !important;

  -webkit-box-shadow: 10px 0 10px #ccc !important;
  -moz-box-shadow: 10px 0 10px #ccc !important;
  -o-box-shadow: 10px 0 10px #ccc !important;
  box-shadow: 10px 0 10px #ccc !important;
}
.fixed .container h1 a, 
.fixed .container #gnb li a{
  color: #000 !important;
}
.fixed .container h1 a{ 
  background: url(../images/lg/logo-black.png) no-repeat 0 0 !important; 
} 
.fixed .container #gnb li a:hover{
  color: #f1d204 !important;
}

/* Active Class Setting */
.fixed .container #gnb li.active>a,
.fixed .container #gnb li.active>a:focus,
.fixed .container #gnb li.active>a:hover{
  color: #f1d204 !important;
}

/* 스크롤스파이 배경컬러 투명화 */
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover{
  background-color: transparent;
}



/* ********** Intro Area Start ********* */
#intro{ 
  height: 100vh; 
}
#intro .container-fluid{
  position: relative; 
  background-image: url(../images/lg/intro-bg.jpg);
}
#intro .intro-box{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}
#intro .intro-inner h2:first-child{
  font: 700 6rem 'Nanum Gothic', sans-serif;
  color: #fff;
  margin-bottom: 21px;
}
#intro .intro-inner h2:nth-child(2){
  font: 700 3rem 'Nanum Gothic', sans-serif;
  color: #fff;
  margin-bottom: 63px;
}
#intro .intro-inner a {
 font: 400 1.6rem/42px 'Nanum Gothic', sans-serif;
}



/* ********** Portfolio Area Start ********* */
#portfolio .title h3{
  height: 63px;
  font: 700 3.6rem/42px 'Nanum Gothic', sans-serif;
  text-align: center;
  margin-top: 63px;
}
#portfolio .title h3::after{
  content: ''; display: block;
  width: 80px; height: 2px;
  background-color: #000;
  position: absolute; 
  left: 50%; bottom: 0;
  margin-left: -40px;
}
/* 버튼들 */
#portfolio #filters-container{
  height: 168px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#portfolio #filters-container .cbp-filter-item{
  cursor: pointer;
}
#portfolio #filters-container .cbp-filter-item:nth-child(2){
  margin: 0 2%;
}
/* 포트폴리오 버튼 활성화 클래스 */
.gmenu-act{ 
  background-color: #6a4d8a !important;
}

/* Gallery Area Start */
#portfolio .cbp-item{
  z-index: 1;
}
#portfolio .cbp-item .img-hover-box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0; left: 0;
  z-index: -1;
}
#portfolio .cbp-item .link-btn,
#portfolio .cbp-item .detail-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px; height: 60px;
  border-radius: 50%;
  border: 2px solid #fff;

  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
#portfolio .cbp-item .detail-btn{
  margin-right: 10px;
}
#portfolio .cbp-item .link-btn i,
#portfolio .cbp-item .detail-btn i {
  color: #fff;
  font-size: 2rem;
}

 /* Popup Content Area Start */
 .white-popup{
  width: 50%; height: auto; 
  position: relative;
  background-color: #fff; 
  border-radius: 7px;
  padding: 30px;
  margin: auto;
}
.white-popup h2{
  font: bold 1.6rem/21px 'Nanum Gothic', sans-serif;
  margin-bottom: 21px;
}


/* ********** about Area Start ********* */
#about .title h3{
  height: 63px;
  position: relative;
  font: 700 3.6rem/42px 'Nanum Gothic', sans-serif;
  text-align: center;
  margin-bottom: 42px;
}
#about .title h3::after{
  content: ''; display: block;
  width: 80px; height: 2px;
  background-color: #000;
  position: absolute; 
  left: 50%; bottom: 0;
  margin-left: -40px;
}
#about .about-text{
  padding: 0 5%;
}
#about .about-text h4{
  font: bold 3rem 'Nanum Gothic', sans-serif;
}
#about .about-text .text-body{
  font: 400 1.6rem/1.5 'Nanum Gothic', sans-serif;
}
#about .about-text .text-name{
  text-align: right;
  font: bold 2.4rem/21px 'Nanum Gothic', sans-serif;
}
#about .about-text .details{
  text-align: right;
  font: 400 1.6rem/21px 'Nanum Gothic', sans-serif;
}
#about .row img{
  display: block;
  margin: 0 auto;
}



/* ********** skill Area Start ********* */
#skill .title h3{
  height: 63px;
  font: 700 3.6rem/42px 'Nanum Gothic', sans-serif;
  text-align: center;
  margin-bottom: 42px;
  position: relative;
}
#skill .title h3::after{
  content: ''; display: block;
  width: 80px; height: 2px;
  background-color: #000;
  position: absolute; left: 50%; bottom: 0;
  margin-left: -40px;
}
/* Progress Area Start */
#skill .col-lg-6{
  padding: 0 30px;
  height: 63px; 
  margin-bottom: 21px;
}
#skill .col-lg-6 h3{
  width: 100%; height: 42px;
  font: 700 2.4rem/42px 'Nanum Gothic', sans-serif;
  position: relative;
}
#skill .col-lg-6 span{
  font: 700 1.6rem/21px 'Nanum Gothic', sans-serif;
}
#skill .col-lg-6 .progress, 
#skill .col-lg-6 .progress-bar {
  height: 25px; border-radius: 5px;
}
#skill .col-lg-6 .progress-bar1,
#skill .col-lg-6 .progress-bar2 {
  background-color: #f18b6d;
}
#skill .col-lg-6 .progress-bar3,
#skill .col-lg-6 .progress-bar4 {
  background-color: #f1d204;
}
#skill .col-lg-6 .progress-bar5,
#skill .col-lg-6 .progress-bar6 {
  background-color: #6a4d8a;
}



/* ********** contact Area Start ********* */
#contact{ 
  height: 800px; 
  background-image: url(../images/lg/contact-bg.jpg);
}

/* title */
#contact .title h3{
  height: 63px;
  position: relative;
  color: #fff;
  font: 700 3.6rem/42px 'Nanum Gothic', sans-serif;
  text-align: center;
  margin-bottom: 21px;
}
#contact .title h3::after{
  content: ''; display: block;
  width: 80px; height: 2px;
  background-color: #fff;
  position: absolute; 
  left: 50%; bottom: 0;
  margin-left: -40px;
}

/* contact-info */
#contact .contact-info{
  width: 100%; height: auto;
}

/* info Start */
#contact .contact-info .info{
  width: 100%; height: 50px;
  font: 400 1.8rem/21px 'Nanum Gothic', sans-serif;
  color: #fff;
  text-align: center;
  margin-bottom: 42px;
}
#contact .contact-info .info>div{
  width: 33.3%; height: 50px; 
  line-height: 50px;
  float: left;
}
#contact .contact-info .info>div span{
  content: ''; display: inline-block;
  width: 1px; height: 15px;
  background-color: #fc0;
  margin: 0 10px;
}

/* form */
#contact form{
  width: 60%; margin: auto;
}
#contact form .form-group{
  margin-bottom: 21px;
}
#contact form .form-group>div{
  color: #fff;
  font: 400 1.4rem/21px 'Nanum Gothic', sans-serif;
}
#contact form .form-group>label{
  display: block;
  width: 100%; height: 30px;
  font-size: 1.6rem; 
  text-indent: 0;
  color: #fff;
}
#contact form .form-group>input{
  width: 100%; height: 30px;
}
#contact form .form-group>div{
  color: #fff;
}
#contact form .form-group>textarea{
  width: 100%; height: 150px;
}
#contact form p{
  text-align: right;
}
#contact form p input{
  border: 0;
}


/* top-btn */
.top-btn {
  width: 40px; height: 40px;
  position: fixed;
  bottom: 15px; right: 15px;
  z-index: 10;
  border-radius: 50%;
  background-color: #ccc;
  text-align: center;
  display: none;
}
.top-btn i {
  line-height: 40px;
  font-size: 20px;
}



/* ********** footer Area Start ********* */
#footer .container{
  padding: 21px;
  text-align: center;
}




/* ******************** Media Query Area Start ******************* */

@media screen and (max-width: 1200px) {
  /* md */

  /* ***** 공통영역 선언시작 ***** */
  /* Layout Area Reset */
  .container{padding: 63px 15px;}

}

/* ********** Desktop Area Start ********* */
@media screen and (max-width: 991px) {
  /* sm */

  /* ***** 공통영역 선언시작 ***** */
  /* Layout Area Reset */
  .container{width: 940px; padding: 63px 10px;}


  /* ***** 개별영역 선언시작 ***** */
  /* intro Area Start */
  #intro .intro-inner h2:first-child{
    font: 700 5rem 'Nanum Gothic', sans-serif;
  }
  #intro .intro-inner h2:nth-child(2){
    font: 700 3rem 'Nanum Gothic', sans-serif;
  }

  /* about Area Start */
  #about .row img{
    margin: 0 auto 0 0;
  }

  /* contact Area Start */
  #contact{
    height: 900px;
  }
  #contact .contact-info .info{
    height: 150px;
    text-align: left;
  }
  #contact .contact-info .info>div{
    width: 80%; 
    padding-left: 20%;
  }
}

/* ********** Desktop & Tablet Area Start ********* */
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* sm */

  /* ***** 공통영역 선언시작 ***** */
  /* Layout Area Reset */
  .container{width: 100% !important;}

  
}

/* ********** Tablet Area Start ********* */
@media screen and (max-width: 767px) {
  /* xs */


  /* ***** 공통영역 선언시작 ***** */
  /* Layout Area Reset */
  .container{width: 100% !important;}


  /* ***** 개별영역 선언시작 ***** */
  /* navi Area Start */
  #navi .container h1 a{
    width: 96px; height: 25px;
  }
  .fixed .container h1 a{
    width: 96px !important; 
    height: 25px !important;
    background-size: contain !important;
  }

  /* intro Area Start */
  #intro .intro-inner h2:first-child{
    font: 700 3.6rem 'Nanum Gothic', sans-serif;
  }
  #intro .intro-inner h2:nth-child(2){
    font: 700 2.4rem 'Nanum Gothic', sans-serif;
  }
  #intro .intro-inner a {
    font: 400 1.4rem/42px 'Nanum Gothic', sans-serif;
  }

  /* Portfolio Area Start */
  #portfolio .title h3{
    font: 700 3rem/42px 'Nanum Gothic', sans-serif;
  }

  /* about Area Start */
  #about .title h3{
    font: 700 3rem/42px 'Nanum Gothic', sans-serif;
  }
  #about .about-text h4{
    font: bold 2.4rem 'Nanum Gothic', sans-serif;
  }
  #about .about-text .text-body{
    font: 400 1.4rem/1.5 'Nanum Gothic', sans-serif;
  }
  #about .about-text .text-name{
    font: bold 1.8rem/21px 'Nanum Gothic', sans-serif;
  }
  #about .about-text .details{
    font: 400 1.4rem/21px 'Nanum Gothic', sans-serif;
  }
  #about .row img{
    display: none;
  }

  /* skill Area Start */
  #skill .title h3{
    font: 700 3rem/42px 'Nanum Gothic', sans-serif;
  }

  /* contact Area Start */
  #contact .title h3{
    font: 700 3rem/42px 'Nanum Gothic', sans-serif;
  }
  #contact .contact-info .info{
    font: 400 1.6rem/21px 'Nanum Gothic', sans-serif;
  }
}

/* ********** Mobile Area Start ********* */
@media screen and (max-width: 500px) {
  /* xs */

  /* info Start */
  #contact .contact-info .info{
    font: 400 1.4rem/21px 'Nanum Gothic', sans-serif;
  }
  #contact .contact-info .info>div{
    width: 90%;
    padding-left: 10%;
  }
  #contact .contact-info .info>div:last-child{
    padding-left: 10%;
  }

  /* form */
  #contact form{
    width: 80%;
  }
}